.vim/bundle/*
*.swp

.emacs.d/ac-comphist.dat

.emacs.d/auto-save-list/.saves-74420-ozawa-no-MacBook-Air.local~

*#*#
.emacs.d/ac-comphist.dat
.emacs.d/scala-mode/
.emacs.d/plugins/
.emacs.d/themes/
.emacs.d/elpa/archives/marmalade/archive-contents

.emacs.d/elpa/archives/melpa/archive-contents

*.DS_Store

.emacs.d/url/cookies

.emacs.d/elpa/archives/gnu/archive-contents
