.vim/bundle/*
!.vim/bundle/neobundle.vim
*.swp

.emacs.d/ac-comphist.dat

.emacs.d/auto-save-list/.saves-74420-ozawa-no-MacBook-Air.local~

*#*#
.emacs.d/ac-comphist.dat
.emacs.d/scala-mode/
.emacs.d/plugins/
.emacs.d/themes/
.emacs.d/elpa/

*.DS_Store

.emacs.d/url/cookies

.emacs.d/elpa/archives/gnu/archive-contents
